<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Dodaj Event</h1>
    </header>
    <main>
        <form method="POST" action="/dodaj-event">
            <label for="event_name">Ime Eventa:</label>
            <input type="text" id="event_name" name="event_name" required>
            <button type="submit">Dodaj</button>
        </form>
    </main>
</body>
</html>
