<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pregled Podataka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Pregled Podataka</h1>
    </header>

    <main>
        <div>
            <button onclick="window.location.href='/zaposlenik'">Zaposlenici</button>
            <button onclick="window.location.href='/bolovanje'">Bolovanje</button>
            <button onclick="window.location.href='/dopust'">Dopust</button>
            <button onclick="window.location.href='/evidencija_rada'">Evidencija Rada</button>
            <button onclick="window.location.href='/godisnji_odmori'">Godišnji Odmori</button>
            <button onclick="window.location.href='/napomene'">Napomene</button>
            <button onclick="window.location.href='/odjel'">Odjel</button>
            <button onclick="window.location.href='/place'">Plaće</button>
            <button onclick="window.location.href='/preferencije_smjena'">Preferencije Smjena</button>
            <button onclick="window.location.href='/projekti'">Projekti</button>
            <button onclick="window.location.href='/raspored_rada'">Raspored Rada</button>
            <button onclick="window.location.href='/sluzbena_putovanja'">Službena Putovanja</button>
            <button onclick="window.location.href='/smjene'">Smjene</button>
            <button onclick="window.location.href='/vrsta_smjene'">Vrsta Smjene</button>
            <button onclick="window.location.href='/zadaci'">Zadaci</button>
            <button onclick="window.location.href='/zahtjev_prekovremeni'">Zahtjev Prekovremeni</button>
        </div>

        {% if message %}
        <p id="status-message" style="text-align: center; margin-top: 1rem; color: red;">{{ message }}</p>
        {% endif %}

        {% if table_data %}
        <table>
            <thead>
                <tr>
                    {% for key in table_data[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    {% for value in row.values() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% if not message %}
        <p style="text-align: center; margin-top: 1rem;">Nema podataka za prikaz.</p>
        {% endif %}
        {% endif %}
    </main>
</body>
</html>
