<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popis Podataka</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Pregled Podataka</h1>
    </header>

    <main>
        <div>
            <button onclick="fetchTableData('zaposlenici')">Zaposlenici</button>
            <button onclick="fetchTableData('smjene')">Smjene</button>
            <button onclick="fetchTableData('bolovanje')">Bolovanje</button>
            <button onclick="fetchTableData('kalendar_godisnjih_odmora')">kalendar_godisnjih_odmora</button>
            <button onclick="fetchTableData('ogranicenja_tvrtke')">ogranicenja_tvrtke</button>
            <button onclick="fetchTableData('place')">place</button>
            <button onclick="fetchTableData('prisutnost')">prisutnost</button>
            <button onclick="fetchTableData('radni_sati')">radni_sati</button>
            <button onclick="fetchTableData('raspored_rada')">raspored_rada</button>
            <button onclick="fetchTableData('zahtjev_prekovremeni')">zahtjev_prekovremeni</button>
            <button onclick="fetchTableData('zeljene_smjene')">zeljene_smjene</button>
            <button onclick="fetchTableData('zahtjevni_godisnji_odmor')">zahtjevni_godisnji_odmor</button>
            <!-- Add more buttons for other tables -->
        </div>

        <table>
            <thead id="table-header">
                <!-- Headers will be dynamically updated -->
            </thead>
            <tbody id="table-body">
                <!-- Data will be dynamically inserted here -->
            </tbody>
        </table>
    </main>

    <script>
        async function fetchTableData(table) {
            try {
                const response = await fetch(`/${table}`);
                const data = await response.json();

                const tableHeader = document.getElementById('table-header');
                const tableBody = document.getElementById('table-body');

                tableHeader.innerHTML = '';
                tableBody.innerHTML = '';

                if (data.length > 0) {
                    const headers = Object.keys(data[0]);
                    const headerRow = headers.map(header => `<th>${header}</th>`).join('');
                    tableHeader.innerHTML = `<tr>${headerRow}</tr>`;

                    data.forEach(row => {
                        const rowHTML = headers.map(header => `<td>${row[header]}</td>`).join('');
                        tableBody.insertAdjacentHTML('beforeend', `<tr>${rowHTML}</tr>`);
                    });
                } else {
                    tableBody.innerHTML = '<tr><td colspan="10">Nema postojecih podataka</td></tr>';
                }
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }
    </script>
</body>
</html>
